/* .pay{
    height: 100vh;
    background-image: url('https://media.istockphoto.com/photos/baby-kids-toys-frame-on-white-background-top-view-flat-lay-copy-space-picture-id1181906928?k=20&m=1181906928&s=170667a&w=0&h=Uv7sqbbkkNqpGMXt0i4ekBCfjluvvzSyjN6KpZMC8y4=');
    background-size: 100% 100%;
    background-repeat: no-repeat;
} */